[submodule "deps/libhandlegraph"]
	path = deps/libhandlegraph
	url = https://github.com/vgteam/libhandlegraph.git
[submodule "deps/gfakluge"]
	path = deps/gfakluge
	url = https://github.com/vgteam/gfakluge.git
